target_folder,title,caption_pixiv,caption_patreon,caption_discord,tags,schedule,zip_password,patreon_tier,discord_channel,zip_url,count,image_count
F:\path\to\your\image_folder,サンプルタイトル,Pixiv用キャプション,Patreon用キャプション,Discord用メッセージ,"tag1, tag2",2025/12/01 18:00,,,general,,,
